body 
{
    margin: 0;
    padding: 0;
    background: url(Footer.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: sans-serif;
}

.input 
{
    position: fixed;
    top: 50%;
    left: 610px;
    transform: translate(-30%, -50%);
    background: rgba(244, 92, 176, 0.368);
    padding: 50px;
    width: 270px;
    box-shadow: 0px 0px 25px 10px rgba(255, 0, 140, 0.507); border-radius: 15px;
}

.input h1 
{
    text-align: center;
    color:rgb(255, 0, 140);
    font-size: 30px;
    font-family: sans-serif;
    letter-spacing: 3px; padding-top: 0; margin-top: -20px;
}
.box-input 
{
    display: flex;
    justify-content: space-between; margin: 10px; border-bottom: 2px solid white; padding: 8px 0;
}

.box-input i
{
    font-size: 23px; 
    color:rgb(255, 0, 140);
    padding: 5px 0;
}

.box-input input 
{
    width: 85%;
    padding: 5px 0;
    background: none;
    border: none;
    outline: none;
    color: white;
    font-size: 18px;
}

.btn-input .box-input input:hover 
{ 
    background: rgba(10, 10, 10, s 0.5);
}

.btn-input 
{
    
    margin-left: 10px; 
    margin-bottom: 20px; 
    background: none; 
    border: 1px solid rgb(255, 0, 140);
    width : 92.5%; 
    color: white; 
    border-radius: 10px;
    padding: 10px;
    font-size: 18px;
    letter-spacing: 3px;
    cursor: pointer;
    transition: all .2s;
    border-radius :10px;
}

.btn-input:hover 
{
    transform: scale(1.2);
    transition: 0.3s;
    background: rgb(255, 255, 255);
}

.bottom 
{
    margin-left: 10px;
    margin-right: 10px; 
    margin-bottom: -20px;
}

.bottom p
{
    color: white;
    font-size: 15px;
    text-decoration: none;
}
.bottom a
{
    color:rgb(255, 0, 140);
    font-size:15px;
    text-decoration: none;
}
.bottom a:hover 
{
    text-decoration:underline;
}
